@using Epsilon.Resources.Web.UserHome

@{
    ViewBag.Title = UserHomeResources.Index_PageTitle;
}

<div class="row">
    <div class="col-md-8">
        <my-submissions-summary limit-items-returned="true" />
    </div>

    <div class="col-md-4">
        <div>
            <h3>Start</h3>
            <p>
                Start by providing your address details.
            </p>
            <p><a class="btn btn-default" href="@Url.Action("SearchAddress", "Submission")">Start &raquo;</a></p>
        </div>
        <div>
            <h3>Help</h3>
            <p>Help by sending verification mail to other users. Earn tokens.</p>
            <p><a class="btn btn-default" href="#">Help &raquo;</a></p>
        </div>
        <div>
            <h3>Explore</h3>
            <p>Explore properties.</p>
            <p><a class="btn btn-default" href="#">Explore &raquo;</a></p>
        </div>
    </div>
</div>