<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Email -->
  <!-- Separate emails with a semicolon (;). -->
  <add key="Epsilon.AdminAlertEmailList" value="someone@gmail.com;someone@yahoo.com"/>
  <!-- For gmail: smtp.gmail.com - For Sendgrid: smtp.sendgrid.net -->
  <add key="Epsilon.SmtpServiceHost" value="smtp.gmail.com"/>
  <!-- For gmail: 587  - For Sendgrid: 587 -->
  <add key="Epsilon.SmtpServicePort" value="587"/>
  <add key="Epsilon.SmtpServiceTimeoutMilliseconds" value="10000"/>
  <add key="Epsilon.SmtpServiceEnableSsl" value="true"/>
  <add key="Epsilon.SmtpServiceUserName" value="your_username@gmail.com"/>
  <add key="Epsilon.SmtpServicePassword" value="password"/>
  <add key="Epsilon.SmtpServiceFromAddress" value="your_username@gmail.com"/>
  <add key="Epsilon.SmtpServiceFromDisplayName" value="Your Display Name"/>
  <!-- Google -->
  <!-- Leave TrackingId empty to disable Google Analytics. -->
  <!-- This key is associated to account: your_username@gmail.com (please update) -->
  <add key="Epsilon.GoogleAnalyticsTrackingId" value=""/>
  <!-- This key is associated to account: your_username@gmail.com (please update) -->
  <add key="Epsilon.GoogleApiServerKey" value=""/>
  <!-- StatCounter -->
  <!-- Leave empty to disable StatCounter. -->
  <add key="Epsilon.StatCounterProjectNumber" value="" />
  <add key="Epsilon.StatcounterSecurityCode" value="" />
</appSettings>
