<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Email -->
  <!-- Separate emails with a semicolon (;). -->
  <add key="Epsilon.AdminAlertEmailList" value="someone@gmail.com;someone@yahoo.com"/>
  <add key="Epsilon.SmtpServiceHost" value="smtp.gmail.com"/>
  <add key="Epsilon.SmtpServicePort" value="587"/>
  <add key="Epsilon.SmtpServiceTimeoutMilliseconds" value="10000"/>
  <add key="Epsilon.SmtpServiceEnableSsl" value="true"/>
  <add key="Epsilon.SmtpServiceUserName" value="your_username@gmail.com"/>
  <add key="Epsilon.SmtpServicePassword" value="password"/>
  <add key="Epsilon.SmtpServiceFromAddress" value="your_username@gmail.com"/>
  <add key="Epsilon.SmtpServiceFromDisplayName" value="Your Display Name"/>
  <!-- Google -->
  <!-- This key is associated to account: your_username@gmail.com (please update) -->
  <add key="Epsilon.GoogleApiServerKey" value=""/>
</appSettings>
