<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net452" />
  <package id="GeocodeSharp" version="1.1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.0" targetFramework="net452" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net452" />
  <package id="Ninject" version="3.2.0.0" targetFramework="net452" />
  <package id="Ninject.Extensions.Factory" version="3.2.1.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
</packages>