@model string
@using Epsilon.Resources.Common

<br />
<div class="alert alert-danger">
    @if (String.IsNullOrWhiteSpace(Model))
    {
        @CommonResources.GenericErrorMessage
    }
    else
    {
        @Model
    }
</div>