@model System.Web.Mvc.HandleErrorInfo

@using Epsilon.Resources.Common

@{
    ViewBag.Title = CommonResources.LockedOut_PageTitle;
}

<hgroup>
    <h1 class="text-danger">@CommonResources.LockedOut_MessageHeader</h1>
    <h2 class="text-danger">@CommonResources.LockedOut_MessageText</h2>
</hgroup>
