@using Epsilon.Resources.Common

@{
    ViewBag.Title = CommonResources.UnavailableCountry;
}

<br />
<div class="alert alert-danger">
    @CommonResources.ServiceNotAvailableInYourCountryMessage
</div>