@using Epsilon.Resources.Common

@{
    ViewBag.Title = CommonResources.Maintenance;
}

<br />
<div class="alert alert-warning">
    @CommonResources.WebsiteDisabledForMaintenanceMessage
</div>