@using Epsilon.Resources.Web.OutgoingVerification

@{
    ViewBag.Title = OutgoingVerificationResources.MyOutgoingVerificationsSummary_PageTitle;
}

<div class="row">
    <my-outgoing-verifications-summary limit-items-returned="false" is-summary-page="true" allow-caching="false" />
</div>

