@using Epsilon.Resources.Web.Submission

@{
    ViewBag.Title = SubmissionResources.MySubmissionsSummary_PageTitle;
}

<div class="row">
    <my-submissions-summary limit-items-returned="false" is-summary-page="true" allow-caching="false"/>
</div>

