@model Epsilon.Web.Models.ViewModels.Submission.StartViewModel
@using Epsilon.Resources.Common
@using Epsilon.Resources.Submission

@{
    ViewBag.Title = SubmissionResources.FindYourAddress;
}

<h4>@SubmissionResources.FindYourAddress</h4>
<hr />

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2" for="CountryId">@CommonResources.Country</label>
        <div class="col-md-10">
            <input id="CountryId" name="CountryId" type="hidden" value="" />
            <select class="form-control" id="CountryId" name="CountryId">
                @foreach (var country in Model.AvailableCountries)
                {
                <option value="@country.Id">@country.EnglishName</option>
                }
            </select>
        </div>
    </div>
</div>

<div data-ng-controller="SubmissionAddressSearchController as controller">
    <button data-ng-click="controller.alert()">Click me!</button>
</div>