@model Decimal
@{
    ViewBag.Title = "Tokens";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        <h3>Balance</h3>
        @Model
    </div>
    <div class="col-md-4">
        <h3>Credit</h3>
        @using (Html.BeginForm("TokensCredit", "DevHelper"))
        {
            @Html.AntiForgeryToken()
            <input type="number" name="amount" />
            <input type="submit" class="btn btn-default" />
        }
    </div>
    <div class="col-md-4">
        <h3>Debit</h3>
        @using (Html.BeginForm("TokensDebit", "DevHelper"))
        {
            @Html.AntiForgeryToken()
            <input type="number"name="amount" />
            <input type="submit" class="btn btn-default" />
        }
    </div>
</div>

