@{
    ViewBag.Title = "Admin";
}

<div class="row">
    <div class="col-md-6">
        <h2>App Cache</h2>
        <p><a class="btn btn-default" href="@Url.Action("AppCacheKeys")">App Cache Keys</a></p>
    </div>
    <div class="col-md-6">
    </div>
</div>