@{
    ViewBag.Title = "Administration";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        
        <p><a class="btn btn-default" href="@Url.Action("AppCacheKeys")">App Cache Keys</a></p>
        <p><a class="btn btn-default" href="@Url.Action("DbAppSettingList")">Database AppSettings</a></p>
        <p>
            <a class="btn btn-default" href="@Url.Action("TestEmail")">
                <span class="glyphicon glyphicon-envelope"></span> Send Test Email 
            </a>
        </p>
    </div>
    <div class="col-md-6">
    </div>
</div>