@{
    ViewBag.Title = AccountResources.ConfirmEmail_PageTitle;
}

@using Epsilon.Resources.Web.Account

<h2>@AccountResources.ConfirmEmail_PageHeader.</h2>
<div>
    <p>
        @AccountResources.ConfirmEmail_MessageBeginning @Html.ActionLink(AccountResources.ClickHereToLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
