@using Epsilon.Resources.Web.Account
@{
    ViewBag.Title = AccountResources.ForgotPasswordConfirmation_PageTitle;
}

<hgroup class="title">
    <h1>@AccountResources.ForgotPasswordConfirmation_PageHeader.</h1>
</hgroup>
<div>
    <p>
        @AccountResources.ForgotPasswordConfirmation_MessageText
    </p>
</div>
	
