@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Start</h2>
        <p>
            Start by providing your address details.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Start", "Submission")">Start &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Verify your address</h2>
        <p>Enter the verification code you received by post.</p>
        <p><a class="btn btn-default" href="@Url.Action("Verify", "Submission")">Verify &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Help</h2>
        <p>Help by sending verification mail to other users. Earn tokens.</p>
        <p><a class="btn btn-default" href="#">Help &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Explore</h2>
        <p>Explore properties.</p>
        <p><a class="btn btn-default" href="#">Explore &raquo;</a></p>
    </div>
</div>