@using Epsilon.Resources.Web.PropertyInfo

@{
    ViewBag.Title = PropertyInfoResources.MyExploredPropertiesSummary_PageTitle;
}

<hr />

<div class="row">
    <my-explored-properties-summary limit-items-returned="false" is-summary-page="true" allow-caching="false"/>
</div>

