@model Epsilon.Logic.Models.ViewPropertyInfoModel
@using Epsilon.Resources.Web.PropertyInfo

@{
    ViewBag.Title = PropertyInfoResources.ViewInfo_PageTitle;
}

<h3>@PropertyInfoResources.ViewInfo_PageHeader</h3>
<hr />
