@{
    Layout = null;
}

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Quantity</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody infinite-scroll="fetchNextPage();"
               infinite-scroll-disabled='busy'
               infinite-scroll-distance='1'>
            <tr ng-repeat='transaction in items'>
                <td>{{transaction.rewardTypeKey}}</td>
                <td>{{transaction.quantity}}</td>
                <td>{{transaction.amount}}</td>
            </tr>
            <tr style="clear:both;"></tr>
        </tbody>
    </table>
    <div ng-cloack ng-show='busy'>Loading data...</div>
</div>